%section.roomList
  %ul.sectionedListView
    %li
      %h1 Active Rooms
      %ul
        - @rooms.each do |room|
          %li
            = link_to_unless_current room, room do 
              = link_to room, room, :class => 'selected'
    %li
      %h1 Recent Rooms
      %ul
        %li= link_to 'Envy Room'
        %li= link_to 'Sweet Chat'
    %li
      %h1 Smart Rooms
      %ul
        %li= link_to 'Recent Activity'
        %li= link_to 'Github Notifications'
  %ul.actionsListView
    %li= link_to 'Create Room', new_room_path

%section.roomView
  %hgroup.roomInfo
    %h1
      = @room.name
    %h2
      = @room.topic
  %section.messagesListView
    - time = Time.now
    - 30.times do |n|
      %article.messageView
        .user 
          = ['Andrew S.', 'Olivier L.', 'Zach N.'][n % 3]
        .body
          - messages = []
          - messages.push('This is a short message.')
          - messages.push('This is the message body, you think you are better than me?! '*3)
          = messages[n % 2]
        %ul.meta
          %li
            %time= l(time + n.minutes, :format => :short)
          %li= link_to 'Favorite' 
          %li= link_to 'Hide'

  = form_for :message, :html => {:class => 'newMessageView'} do |f|
    = f.text_area :content, :size => '60x2', :resizable => 'no'
    = f.submit 'Send'
