!!! 5
%html
  %head
    %title Dialogue : SweetSuite
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cabin:bold', 'compiled/screen.css'
    = javascript_include_tag 'jquery-min','rails', 'underscore-min', 'backbone-min', 'jellybean', 'application'
    = csrf_meta_tag
  %body
    #omnibar
      .brand Dialogue
      .currentUser
        = current_user.name
        = "(#{current_user.email})"
    #application
      = yield
